<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.feature.a" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name="com.example.feature.a.TestActivity">

        </activity>


    </application>
</manifest>
